html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    height: 100vh;
}

body {
    height: 100vh;
}

ul#markerlist {
    height: 96vh;
    overflow-y: scroll;
    list-style: none;
}

div.row {
    margin-top: 20px;
}

div.footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

div.footer button {
    float: left;
    margin: 20px;
}

div.footer h3 {
    float: left;
    vertical-align: middle;
    line-height: 2em;
}

div.footer button span {
    margin-top: 2px;
    font-size: 2em;
}

#playlist li {
    border-radius: 4px;
    background: deepskyblue;
    vertical-align: middle;
    line-height: 2.3em;
    height: 32px;
    padding-left: 8px;
    margin: 4px;
    list-style: none;
}

ul#markerlist li {
    margin: 2px;
    padding: 4px;
    height: 50px;
}

ul#markerlist li.cutscene {
/*    background-color: dodgerblue;*/
    background-color: #2C68FF;
    color: darkslateblue;
}

ul#markerlist li.menu {
/*    background-color: sunglow;*/
    background-color: #FFC22C;
    color: sienna;
}

ul#markerlist li.walk {
/*    background-color: coralred;*/
    background-color: #FF3748;
    color: firebrick;    
}

ul#markerlist li.battle {
/*    background-color: malachite;*/
    background-color: #0EB22F;
    color: darkolivegreen;
}

ul#markerlist li.minigame {
/*    background-color: malachite;*/
    background-color: mediumorchid;
    color: rebeccapurple;
}

ul#markerlist li div.iconholder {
    float: left;
    width: 70px;
    height: 50px;
    font-size: 1.75em;
    line-height: 2em;
    text-align: center;
    vertical-align: middle;
}

ul#markerlist li div.textholder {
    float: left;
}

ul#markerlist li div.textholder p, ul#markerlist li div.textholder strong {
    user-select: none;
}

ul#markerlist li button.remove {
    float: right;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 8px;
}